.hero__item{
    background-image: url('/img/banner-min.png');

}
.logo-4pet{
    font-size: 40px;
    font-weight: 500;
    color: black;
}
.categories {
    height: 270px;
}
.categories__item {
    background-image: url('/img/categories/cat-1.jpg');

}

