body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navigation {
  /* display: flex; */
  justify-content: space-around;
  background-color: #1A9EFF;
  padding-bottom: 20px;
  padding-top: 20px;
}

.frontNav{
  display:flex;
  flex:1;
  justify-content: space-around;
  align-items: center;
}

.containerInput{
  display: flex;
  flex: 0.3;
}

#input1{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.underNav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#home {
  cursor: pointer;
}
